* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Garamond', serif;
  font-size: 20px;
}

button, input, select, option {
  background-color: rgba(205, 236, 255, 0.9);

  font-family: 'Garamond', serif;
  font-size: 18px;

  border: none;
  padding: 3px 6px;
  border-radius: 2px;

  transition: all 0.2s ease;
}

button:hover {
    background-color: rgba(222, 241, 255, 0.9);
    transform: translateY(-1px);
}

button:active {
    background-color: rgba(168, 204, 226, 0.9);
    transform: translateY(1px);
}